# Programs
src/ipst
src/stream_test

#stuff
*~
*#

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# LaTeX
*.aux
*.dvi
*.log
*.out
*.toc
*.gz
*.bbl
*.blg
/report/thesis.pdf

# dot files in src
*.dot
/src/**/*.png