# Programs
src/ipst
src/stream_test
src/ctest
src/epst
src/dump_file
src/apst
src/bpst
src/mpst
src/rtree
src/testexp
src/testlib
src/libspatial_pst
src/experiments/stream_input_speed_experiment
src/experiments/stream_output_speed_experiment
src/experiments/gerth_fanout_experiment
src/experiments/gerth_buffer_size_experiment
src/experiments/arge_buffer_size_experiment
src/experiments/insert_experiment
src/experiments/query_experiment

# data folders
src/c_*
src/test
src/experiments/c_*
src/data/insert_experiment
src/test_data_report_random_1gb
src/internal/test
src/test_data_3gb
src/data/query_experiment

#stuff
*~
*#

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# LaTeX
*.aux
*.dvi
*.log
*.out
*.toc
*.gz
*.bbl
*.blg
*.ps
/report/thesis.pdf

# dot files in src
*.dot
/src/**/*.png
/src/test_points